app15-Cloud/NodeRED/dashboard_configs/1_dashboard_graphs_e_cmd.json
[
    {
        "id": "196390ff6edf144a",
        "type": "tab",
        "label": "Flow FIAPIoT - Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f1e1ff43078280c",
        "type": "group",
        "z": "196390ff6edf144a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ca69360405404dbe",
            "4ca0e5d1d30134ee",
            "a6ca7301433d5c61"
        ],
        "x": 814,
        "y": -1,
        "w": 212,
        "h": 222
    },
    {
        "id": "c5a596ede36d70d5",
        "type": "group",
        "z": "196390ff6edf144a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "663da8e09f16fca0",
            "ce4c6e991b143841",
            "53a3e2070ff40991"
        ],
        "x": 814,
        "y": 239,
        "w": 152,
        "h": 202
    },
    {
        "id": "30667eaddc968dea",
        "type": "group",
        "z": "196390ff6edf144a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0419234427151ce5",
            "f540c5e085e9bea3"
        ],
        "x": 634,
        "y": 559,
        "w": 312,
        "h": 142
    },
    {
        "id": "1497e253c9efdc1d",
        "type": "mqtt in",
        "z": "196390ff6edf144a",
        "name": "",
        "topic": "FIAPIoT/aula08/noris/motor/dados",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f57bcdae81064000",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "818a04a9524672c2",
                "f60bc8d9a5218ae8",
                "6dbb3da2f42ae786"
            ]
        ]
    },
    {
        "id": "818a04a9524672c2",
        "type": "function",
        "z": "196390ff6edf144a",
        "name": "separarDadosSensores",
        "func": "//Número de saídas: 7\n\nlet temp = { payload: msg.payload.temp };\nlet umid = { payload: msg.payload.umid };\nlet ic = { payload: msg.payload.ic };\nlet accel_x = { payload: msg.payload.accel_x };\nlet accel_y = { payload: msg.payload.accel_y };\nlet accel_z = { payload: msg.payload.accel_z };\nlet motor_ligado = { payload: msg.payload.motor_status };\n\nreturn [temp, umid, ic, accel_x, accel_y, accel_z, motor_ligado];\n",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "a6ca7301433d5c61"
            ],
            [
                "ca69360405404dbe"
            ],
            [
                "4ca0e5d1d30134ee"
            ],
            [
                "663da8e09f16fca0"
            ],
            [
                "ce4c6e991b143841"
            ],
            [
                "53a3e2070ff40991"
            ],
            [
                "4221d206d6a232c9"
            ]
        ]
    },
    {
        "id": "ca69360405404dbe",
        "type": "ui_gauge",
        "z": "196390ff6edf144a",
        "g": "9f1e1ff43078280c",
        "name": "",
        "group": "af6b46c184d8e1bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ca0e5d1d30134ee",
        "type": "ui_text",
        "z": "196390ff6edf144a",
        "g": "9f1e1ff43078280c",
        "group": "af6b46c184d8e1bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Índice de Calor",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#e60000",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "4221d206d6a232c9",
        "type": "ui_switch",
        "z": "196390ff6edf144a",
        "name": "",
        "label": "Motor Ligado?",
        "tooltip": "",
        "group": "f675c3c8d38af862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "663da8e09f16fca0",
        "type": "ui_gauge",
        "z": "196390ff6edf144a",
        "g": "c5a596ede36d70d5",
        "name": "",
        "group": "f675c3c8d38af862",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Eixo X",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce4c6e991b143841",
        "type": "ui_gauge",
        "z": "196390ff6edf144a",
        "g": "c5a596ede36d70d5",
        "name": "",
        "group": "f675c3c8d38af862",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Eixo Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "53a3e2070ff40991",
        "type": "ui_gauge",
        "z": "196390ff6edf144a",
        "g": "c5a596ede36d70d5",
        "name": "",
        "group": "f675c3c8d38af862",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Eixo Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "a6ca7301433d5c61",
        "type": "ui_chart",
        "z": "196390ff6edf144a",
        "g": "9f1e1ff43078280c",
        "name": "",
        "group": "af6b46c184d8e1bc",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f60bc8d9a5218ae8",
        "type": "debug",
        "z": "196390ff6edf144a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "6dbb3da2f42ae786",
        "type": "function",
        "z": "196390ff6edf144a",
        "name": "EnviaComandoMQTT",
        "func": "\n// Definindo os limiares (adapte conforme necessário)\nconst LIMIAR_TEMP = 30.0;       // Datasheet do motor: limite de 30 °C de temperatura\nconst LIMIAR_VIBRA_MAG  = 15.0; // Datasheet do motor: limite de 15 m/s² como magnitude de aceleração\n\n// Como vem o msg.payload = {\n// device: \"FIAPIoTDevice001\"\n// temp: 36.3\n// umid: 23\n// ic: 35.0605\n// accel_x: 4.903325\n// accel_y: 4.41012\n// accel_z: 2.451663\n// motor_status: true\n// }\n\nconst p = msg.payload || {};\nconst temp = p.temp;\nconst umid = p.umid;\nconst ic = p.ic;\nconst accel_x = p.accel_x;\nconst accel_y = p.accel_y;\nconst accel_z = p.accel_z;\nconst motor_ligado = p.motor_status;\n\n// Calcula a magnitude da aceleração (teorema de Pitágoras em 3 dimensões)\nconst accelMagnitude = Math.sqrt(accel_x*accel_x + accel_y*accel_y + accel_z*accel_z);\n\n// --- Condição de operação segura do motor ---\nconst condicoesBoas = (temp <= LIMIAR_TEMP) && (accelMagnitude <= LIMIAR_VIBRA_MAG);\n\n// Para debugar, você pode soltar mensagens para debug\nnode.warn(`Temp = ${temp}, AccelMag = ${accelMagnitude}, Cond = ${condicoesBoas}`);\n\nlet comando = null;\n\n/*\n  Regra:\n  - Se condições ruins e motor LIGADO -> enviar OFF\n  - Se condições boas e motor DESLIGADO -> enviar ON\n  - Caso contrário -> não enviar nada\n*/\nif (!condicoesBoas && motor_ligado) {\n  comando = \"OFF\";\n} else if (condicoesBoas && !motor_ligado) {\n  comando = \"ON\";\n}\n\n// --- Se não há mudança necessária, NÃO envie mensagem ---\nif (comando === null) {\n  node.status({ fill: \"grey\", shape: \"ring\",\n    text: `sem envio | T:${temp?.toFixed?.(1)}°C | g:${accelMagnitude?.toFixed?.(2)}` });\n  return null; // <- ESSENCIAL: descarta a mensagem e não publica no MQTT\n}\n\n// --- Publica apenas quando precisa mudar o estado ---\nnode.status({ fill: comando === \"ON\" ? \"green\" : \"red\", shape: \"dot\",\n  text: `${comando} | T:${temp?.toFixed?.(1)}°C | g:${accelMagnitude?.toFixed?.(2)}` });\n\nreturn {\n  payload: comando\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "0419234427151ce5",
                "f540c5e085e9bea3"
            ]
        ]
    },
    {
        "id": "0419234427151ce5",
        "type": "debug",
        "z": "196390ff6edf144a",
        "g": "30667eaddc968dea",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 660,
        "wires": []
    },
    {
        "id": "f540c5e085e9bea3",
        "type": "mqtt out",
        "z": "196390ff6edf144a",
        "g": "30667eaddc968dea",
        "name": "",
        "topic": "FIAPIoT/aula08/noris/motor/cmd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f57bcdae81064000",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "85f3723b8048a8ec",
        "type": "ui_spacer",
        "z": "196390ff6edf144a",
        "name": "spacer",
        "group": "af6b46c184d8e1bc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "587357c9d3caa403",
        "type": "ui_spacer",
        "z": "196390ff6edf144a",
        "name": "spacer",
        "group": "af6b46c184d8e1bc",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f57bcdae81064000",
        "type": "mqtt-broker",
        "name": "MQTTBroker local",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af6b46c184d8e1bc",
        "type": "ui_group",
        "name": "FIAPIoT-Ambiente",
        "tab": "3971d7500fb1aa4a",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f675c3c8d38af862",
        "type": "ui_group",
        "name": "FIAP-IoT-Vibração",
        "tab": "3971d7500fb1aa4a",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3971d7500fb1aa4a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cee200ec40e62749",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]