aula08-app14_NodeRED/NodeRED/dashboard_configs/dashboard.json
[
    {
        "id": "d282e4778fbdbe1e",
        "type": "tab",
        "label": "Flow FIAPIoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9049f4b1763ab153",
        "type": "mqtt in",
        "z": "d282e4778fbdbe1e",
        "name": "",
        "topic": "FIAPIoT/sala1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f57bcdae81064000",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "5b980dce9c2a64cc"
            ]
        ]
    },
    {
        "id": "5b980dce9c2a64cc",
        "type": "function",
        "z": "d282e4778fbdbe1e",
        "name": "separarDadosSensores",
        "func": "//Número de saídas: 5\n\nlet temp = { payload: msg.payload.temp };\nlet umid = { payload: msg.payload.umid };\nlet ic = { payload: msg.payload.ic };\nlet dist = { payload: msg.payload.dist };\nlet mov = { payload: msg.payload.mov };\n\nreturn [temp, umid, ic, dist, mov];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "8d3fb503ec1c2330"
            ],
            [
                "7b69396e20114506"
            ],
            [
                "6211de5ebc0f0525"
            ],
            [
                "284c4072e7e6175d",
                "788377274be09569"
            ],
            [
                "216e745fb60364c0",
                "7d38e4f482ef7216"
            ]
        ]
    },
    {
        "id": "8d3fb503ec1c2330",
        "type": "ui_chart",
        "z": "d282e4778fbdbe1e",
        "name": "",
        "group": "af6b46c184d8e1bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7b69396e20114506",
        "type": "ui_gauge",
        "z": "d282e4778fbdbe1e",
        "name": "",
        "group": "af6b46c184d8e1bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "284c4072e7e6175d",
        "type": "ui_text",
        "z": "d282e4778fbdbe1e",
        "group": "7a01314d66499467",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distância",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#67289a",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "6211de5ebc0f0525",
        "type": "ui_text",
        "z": "d282e4778fbdbe1e",
        "group": "af6b46c184d8e1bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Índice de Calor",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#e60000",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "216e745fb60364c0",
        "type": "ui_led",
        "z": "d282e4778fbdbe1e",
        "order": 3,
        "group": "f675c3c8d38af862",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#e0e0e0",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#f50000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "a083ff53b8dc82d3",
        "type": "telegram sender",
        "z": "d282e4778fbdbe1e",
        "name": "Enviar telegram de alerta",
        "bot": "65eb49276087a1bb",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "788377274be09569",
        "type": "switch",
        "z": "d282e4778fbdbe1e",
        "name": "alerta < 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "2434d6fcc67416c5"
            ]
        ]
    },
    {
        "id": "2434d6fcc67416c5",
        "type": "function",
        "z": "d282e4778fbdbe1e",
        "name": "Alerta Distância",
        "func": "// Distância\n// Prepara a mensagem\nmsg.payload = {\n    type: \"message\",\n    chatId: \"6239670426\",\n    content: `ALERTA: Objeto detectado a ${msg.payload} cm!`\n};\nreturn msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 340,
        "wires": [
            [
                "a083ff53b8dc82d3",
                "4dd7a4ef86ac3fae"
            ]
        ]
    },
    {
        "id": "4dd7a4ef86ac3fae",
        "type": "debug",
        "z": "d282e4778fbdbe1e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "7d38e4f482ef7216",
        "type": "function",
        "z": "d282e4778fbdbe1e",
        "name": "Alerta Presença",
        "func": "// Movimento (booleano) - com validação\nconst mov = msg.payload;\n\n// Verifica se é realmente um boolean\nif (typeof mov !== 'boolean') {\n    node.warn(\"Payload não é boolean: \" + typeof mov);\n    return null;\n}\n\nif (mov === true) {\n    msg.payload = {\n        type: \"message\",\n        chatId: \"6239670426\",\n        content: \"ALERTA: Presença detectada!\"\n    };\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "197e721d63a812b8",
                "a083ff53b8dc82d3"
            ]
        ]
    },
    {
        "id": "197e721d63a812b8",
        "type": "debug",
        "z": "d282e4778fbdbe1e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "55a056e9b080f87c",
        "type": "ui_spacer",
        "z": "d282e4778fbdbe1e",
        "name": "spacer",
        "group": "af6b46c184d8e1bc",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1be675f801d6d36",
        "type": "ui_spacer",
        "z": "d282e4778fbdbe1e",
        "name": "spacer",
        "group": "af6b46c184d8e1bc",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb6edf0e214eaa50",
        "type": "ui_spacer",
        "z": "d282e4778fbdbe1e",
        "name": "spacer",
        "group": "7a01314d66499467",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f57bcdae81064000",
        "type": "mqtt-broker",
        "name": "MQTTBroker local",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af6b46c184d8e1bc",
        "type": "ui_group",
        "name": "FIAPIoT-Ambiente",
        "tab": "3971d7500fb1aa4a",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a01314d66499467",
        "type": "ui_group",
        "name": "FIAP-IoT-Dist",
        "tab": "3971d7500fb1aa4a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f675c3c8d38af862",
        "type": "ui_group",
        "name": "FIAP-IoT-Vibração",
        "tab": "3971d7500fb1aa4a",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65eb49276087a1bb",
        "type": "telegram bot",
        "botname": "FIAPIoTBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3971d7500fb1aa4a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fe74012f1773369",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-contrib-telegrambot": "16.3.2"
        }
    }
]