app24-IrrigInteligente_parte1/Fluxo n8n/SmartAgro-LLM.json
{
  "name": "SmartAgro-LLM",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nEu sou o FIoT. Como posso ajudá-lo?",
        "options": {
          "subtitle": "SIstema de Irrigação Inteligente",
          "title": "Smart Agro",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        16
      ],
      "id": "28acdd49-3b39-42eb-b386-86e42cff93f0",
      "name": "When chat message received",
      "webhookId": "cd69ff2d-1f0f-4942-ae59-9fc4e593751e",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente de irrigação inteligente de uma fazenda.\n\nCONTEXTO TEMPORAL IMPORTANTE:\n- Data atual: {{ $now.format('yyyy-LL-dd') }}\n- Hora atual: {{ $now.format('HH:mm') }}\n- Dia da semana: {{ $now.format('EEEE') }}\n\nPERÍODOS DO DIA:\n- madrugada: 00:00 às 05:59\n- manhã: 06:00 às 11:59\n- tarde: 12:00 às 17:59\n- noite: 18:00 às 23:59\n\nFERRAMENTAS DISPONÍVEIS:\n\n1) irrigacao_estado_atual\nUse esta ferramenta para responder perguntas sobre o estado ATUAL da irrigação, por exemplo:\n- \"A irrigação está ligada?\"\n- \"A bomba está funcionando agora?\"\n- \"Quem mandou desligar a irrigação?\"\n- \"Por que a irrigação foi desligada?\"\n\nEsta ferramenta retorna a última linha registrada no banco, com:\n- timestamp_estado\n- status_bomba (true = ligada, false = desligada)\n- origem_comando (LOCAL, CLOUD ou HUMAN)\n- motivo (texto curto explicando o motivo do último comando)\n\n\n2) irrigacao_historico\nUse esta ferramenta para perguntas sobre o PASSADO em um dia/período específico, por exemplo:\n- \"Como estava ontem à tarde?\"\n- \"Ela ficou ligada hoje de manhã?\"\n- \"A irrigação estava ligada nesta madrugada?\"\n\nSempre que você usar esta ferramenta, envie Query_Parameters como uma string no formato:\n\"AAAA-MM-DD, periodo\"\n\nO campo periodo deve ser uma destas palavras exatas:\nmadrugada, manhã, tarde, noite.\n\nExemplos:\n- \"Como estava nesta madrugada?\" → \"{{ $now.format('yyyy-LL-dd') }}, madrugada\"\n- \"Como estava ontem à noite?\" → \"{{ $now.minus({days: 1}).format('yyyy-LL-dd') }}, noite\"\n\n\nREGRAS IMPORTANTES:\n\n- Para perguntas sobre \"agora\", \"atualmente\", \"neste momento\", \"está ligada?\" → use irrigacao_estado_atual.\n- Para perguntas sobre \"ontem\", \"hoje de manhã\", \"nesta madrugada\", \"semana passada\" (quando o usuário indicar um dia/período específico) → use irrigacao_historico.\n- Nunca invente se a irrigação está ligada ou desligada. Sempre baseie sua resposta SOMENTE nos dados retornados pelas ferramentas.\n- Use o campo \"motivo\" para explicar por que a irrigação foi ligada ou desligada (por exemplo: override da nuvem por previsão de chuva, comando do gestor, decisão local do TinyML).\n- Se não houver dados suficientes, explique isso claramente ao usuário, em português do Brasil.\n- Responda sempre em português do Brasil, de forma clara, direta e educada.\n- NUNCA mencione o nome das ferramentas, do banco de dados ou de queries na resposta ao usuário. Responda como se você mesmo tivesse o conhecimento.\n\nREGRAS DE USO DE MEMÓRIA E FERRAMENTAS (IMPORTANTE):\n\n- Você tem acesso ao histórico da conversa (memória simples).\n- Antes de chamar QUALQUER ferramenta, você deve se perguntar:\n  \"Preciso MESMO consultar o banco de dados para responder esta mensagem?\"\n\n- NUNCA chame ferramentas quando a mensagem do usuário for:\n  - apenas saudação (\"olá\", \"boa tarde\", \"oi, eu sou o José\"),\n  - apresentação pessoal,\n  - agradecimento,\n  - teste de conversa,\n  - perguntas sobre quem você é ou como pode ajudar.\n\n  Nesses casos, responda APENAS com conversa normal, sem usar ferramentas.\n\n- Só use ferramentas quando houver uma PERGUNTA CLARA sobre irrigação ou histórico, por exemplo:\n  - \"a irrigação está ligada?\"\n  - \"quem mandou desligar?\"\n  - \"como estava ontem à noite?\"\n  - \"a bomba ficou ligada hoje de manhã?\"\n\n- Se a nova pergunta puder ser respondida apenas com base na sua própria resposta anterior,\n  NÃO chame ferramenta de novo. Use somente o histórico da conversa.\n\n- Exemplos:\n  1) Usuário: \"A irrigação está ligada agora?\"\n     → use irrigacao_estado_atual.\n     Depois você responde algo como:\n     \"Ela está desligada, último comando veio da CLOUD às 10:41.\"\n\n     Se em seguida o usuário perguntar:\n     \"Quem mandou desligar?\"\n     \"Por que ela foi desligada?\"\n     → NÃO use ferramentas. Use a informação que você já sabe.\n\n  2) Usuário: \"Como estava ontem à noite?\"\n     → use irrigacao_historico.\n\n  3) Usuário: \"E hoje de manhã?\"\n     → use irrigacao_historico com outra data/período.\n\n- Em caso de dúvida entre usar ferramenta ou não, prefira NÃO usar ferramenta\n  e responda de forma educada pedindo ao usuário que especifique melhor a dúvida.\n\nREGRA CRÍTICA SOBRE MEMÓRIA:\n\n- Ignore qualquer lembrança antiga do estado da irrigação.\n- Nunca use mensagens de sessões anteriores para responder sobre estado atual.\n- O único estado válido é SEMPRE o retornado pela ferramenta mais recente, a menos que o usuário peça histórico explicitamente.\n\nREGRAS OBRIGATÓRIAS SOBRE CAMPOS DO BANCO (NÃO IGNORAR):\n\nSempre que você usar a ferramenta \"irrigacao_estado_atual\", você DEVE incluir na resposta:\n\n- status_bomba (ligada/desligada)\n- origem_comando (quem enviou o último comando: LOCAL, CLOUD ou HUMAN)\n- timestamp_estado (data e hora da última alteração, no horário da fazenda)\n\nNUNCA diga que \"a ferramenta não retornou horário\" se o campo timestamp_estado existir,\ne nunca omita a origem_comando. Esses dois campos fazem PARTE da resposta obrigatória.\n\nSe por algum motivo a ferramenta retornar valores nulos, você deve escrever claramente:\n\"Não há registro do horário\" ou \"Não há registro da origem do comando\".\nMas se os campos existirem, VOCÊ DEVE incluí-los na resposta.\n\nREGRAS PARA FOLLOW-UP:\n- Se o usuário perguntar \"que horas a bomba foi desligada?\" depois de você já ter dito o timestamp,\n  você NÃO deve chamar a ferramenta novamente. Apenas repita o valor que você já informou.\n- Se você ainda não informou timestamp_estado, E a ferramenta o possui, consulte a ferramenta.\n- Se o usuário perguntar sem mudar o tempo (\"agora\", \"nesse momento\"), NÃO use irrigacao_historico.\n\nToda resposta sobre estado atual deve conter:\n\"Status atual: [ligada/desligada]. Último comando às [timestamp_estado].\"\n\nSe a memória contiver estados antigos diferentes do estado atual, você deve desconsiderá-los completamente. Memória antiga nunca substitui os dados das ferramentas.\n\nREGRAS PARA COMANDOS HUMANOS (LIGAR/DESLIGAR):\n\n- Quando o usuário pedir explicitamente para ligar ou desligar a irrigação\n  (ex.: \"ligue a irrigação\", \"pode desligar a bomba\", \"deixa ligada até chover\"),\n  você DEVE:\n\n  1) Responder normalmente em português do Brasil, explicando o que vai fazer.\n  2) Preencher o campo \"command\" da saída JSON com:\n     - \"TURN_ON\" para ligar a irrigação,\n     - \"TURN_OFF\" para desligar a irrigação,\n     - \"NONE\" se não for um comando de ligar/desligar.\n\n- Nunca invente outros valores em \"command\". Use SOMENTE:\n  \"TURN_ON\", \"TURN_OFF\" ou \"NONE\".\n- Se a mensagem do usuário for apenas uma pergunta (\"a irrigação está ligada?\")\n  e NÃO um comando, responda normalmente e use sempre \"command\": \"NONE\".\n\nFORMATO DE SAÍDA (OBRIGATÓRIO):\n\n- Sua resposta DEVE ser SEMPRE um JSON válido, sem nenhum texto fora do JSON.\n- Use exatamente este formato:\n\n{\n  \"answer\": \"texto em português do Brasil respondendo ao usuário\",\n  \"command\": \"TURN_ON\" ou \"TURN_OFF\" ou \"NONE\"\n}\n\nExemplos:\n1) Pergunta: \"a irrigação está ligada?\"\n   Saída:\n   {\n     \"answer\": \"A irrigação está desligada. Último comando veio da CLOUD às 11:59.\",\n     \"command\": \"NONE\"\n   }\n\n2) Pergunta: \"ligue a irrigação agora\"\n   Saída:\n   {\n     \"answer\": \"Certo, vou ligar a irrigação agora e registrar que o comando veio de você.\",\n     \"command\": \"TURN_ON\"\n   }\n\nNUNCA devolva texto solto fora do JSON.\n\nREGRAS PARA COMANDOS HUMANOS (LIGAR/DESLIGAR):\n\n- Só considere que é COMANDO quando o usuário pedir explicitamente para ligar ou desligar,\n  usando verbos como: ligar, desligar, ativar, desativar, abrir, fechar, deixar ligada ou deixar desligada.\n\n- Exemplos de COMANDO (devem gerar \"command\" diferente de \"NONE\"):\n  - \"Ligue a irrigação.\"\n  - \"Pode desligar a bomba.\"\n  - \"Ative a irrigação agora.\"\n  - \"Desative a irrigação, por favor.\"\n\n- Exemplos de NÃO COMANDO (devem gerar SEMPRE \"command\": \"NONE\"):\n  - \"A irrigação está ligada?\"\n  - \"Como está a irrigação agora?\"\n  - \"Qual é o status da bomba?\"\n  - \"Quem mandou desligar?\"\n  - \"Por que a irrigação foi desligada?\"\n\n- Se a mensagem for apenas pergunta, SEM pedido explícito de ligar/desligar,\n  você DEVE responder com o estado e usar obrigatoriamente:\n  \"command\": \"NONE\".\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        408,
        16
      ],
      "id": "4f475abb-840e-44a3-b695-ff123cb32af6",
      "name": "FIoT Agent - Smart Agro"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Essa ferramenta se chama \"irrigacao_estado_atual\" e responde como está a irrigação agora, nesse instante.\nEla retorna a última linha da tabela smartirrig, com:\n\n- timestamp_estado: horário do último estado registrado\n- status_bomba: true (bomba LIGADA) ou false (bomba DESLIGADA)\n- origem_comando: LOCAL, CLOUD ou HUMAN\n- dispositivo: quem enviou o comando (ex.: ESP32, cloud_n8n)\n- periodo: madrugada, manhã, tarde ou noite\n- motivo: texto curto explicando por que a irrigação foi ligada ou desligada (se disponível)\n\nUse SEMPRE essa ferramenta para perguntas sobre o estado ATUAL da irrigação,\ncomo \"a irrigação está ligada agora?\", \"quem mandou desligar?\" ou \"por que desligou?\".\n\n**NÃO use esta ferramenta se o usuário estiver apenas pedindo um detalhamento da sua resposta anterior**\nsobre o estado atual (por exemplo: \"quem mandou desligar?\" logo depois de você já ter dito que foi a CLOUD).\nNesses casos, use apenas o histórico da conversa.\n",
        "operation": "executeQuery",
        "query": "SELECT\n  timestamp_estado,\n  status_bomba,\n  origem_comando,\n  dispositivo,\n  periodo,\n  motivo\nFROM smartirrig\nORDER BY timestamp_estado DESC\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        496,
        240
      ],
      "id": "f380dde9-1be7-4825-b243-683e762bbb14",
      "name": "irrigacao_estado_atual",
      "credentials": {
        "postgres": {
          "id": "X5FMiVM7mdcDAxNI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Esta ferramenta se chama \"irrigacao_historico\" e consulta dados históricos de irrigação.\n\nSempre que você usá-la, envie Query_Parameters como uma string no formato:\n\"AAAA-MM-DD, periodo\"\n\nO campo periodo deve ser uma destas palavras exatas:\nmadrugada, manhã, tarde, noite.\n\nExemplos de Query_Parameters:\n- \"2025-12-05, manhã\"\n- \"2025-12-04, noite\"\n\nEla retorna:\n- timestamp_estado\n- status_bomba (true/false)\n- origem_comando (LOCAL, CLOUD, HUMAN)\n- dispositivo\n- periodo (madrugada, manhã, tarde, noite)\n- motivo (texto explicando por que ligou/desligou, se disponível)\n\nNÃO use essa ferramenta para responder perguntas sobre o estado ATUAL da irrigação.\nEla é apenas para perguntas sobre o passado (ontem, hoje de manhã, nesta madrugada etc.).\n",
        "operation": "executeQuery",
        "query": "SELECT\n  timestamp_estado,\n  status_bomba,\n  origem_comando,\n  dispositivo,\n  periodo,\n  motivo\nFROM smartirrig\nWHERE DATE(timestamp_estado) = $1\n  AND periodo = $2\nORDER BY timestamp_estado DESC\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        656,
        240
      ],
      "id": "db4ffb8c-6716-4f84-b64d-944e7f7b7786",
      "name": "irrigacao_historico",
      "credentials": {
        "postgres": {
          "id": "X5FMiVM7mdcDAxNI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "47328a86-3e72-4662-b211-9a9d4e034916",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": { \"type\": \"string\" },\n    \"command\": { \"type\": \"string\", \"enum\": [\"TURN_ON\", \"TURN_OFF\", \"NONE\"] }\n  },\n  \"required\": [\"answer\", \"command\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        240
      ],
      "id": "62a37f28-f769-4421-9fb8-76055823ad4c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "message": "={{ $json.output.answer }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        944,
        16
      ],
      "id": "fa82bba4-c9a6-46be-8ebb-b439e2e8e615",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "dce3af36-09ef-49a4-9474-f80907ddc219",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZNrk2VOuNZgf2FWm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "topic": "FIAPIoT/smartagro/cmd/human",
        "options": {}
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        1616,
        -80
      ],
      "id": "909d9ab1-de08-4b69-9ae8-573130415767",
      "name": "MQTT",
      "credentials": {
        "mqtt": {
          "id": "xne1ZYCGDs5i3Vx6",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.output;\n\n//{\"dispositivo\":\"<device>\",\"bomba\":<true/false>}\n\nlet ligarBomba = false;\n\nif (message.command === \"TURN_ON\") {\n  ligarBomba = true;\n} else if (message.command === \"TURN_OFF\") {\n  ligarBomba = false;\n}\n\nreturn [{\n  dispositivo: \"human\",\n  bomba: ligarBomba\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        16
      ],
      "id": "f35b6c39-ee88-4257-a323-d90dbf4b2139",
      "name": "Ligar/Desligar bomba"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.command }}",
                    "rightValue": "TURN_ON",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "faddf22e-3784-4b58-ab90-c7b442b2e5de"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98543fd1-3dab-4b70-9783-02a0ed27a9b7",
                    "leftValue": "={{ $json.output.command }}",
                    "rightValue": "TURN_OFF",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1168,
        16
      ],
      "id": "8fa28f3d-f73c-4084-a761-4cbdb7423f8d",
      "name": "TURN_ON (index 0) e TURN_OFF (index 1)"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Timestamp internacional + timezone correto\nconst now = new Date().toLocaleString(\"sv-SE\", {\n  timeZone: \"America/Sao_Paulo\",\n  hour12: false\n});\n\n// Converte hour para número\nconst hour = Number(\n  new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\", \n    hour: \"numeric\", \n    hour12: false \n  })\n);\n\n// Período\nlet periodo = \"madrugada\";\nif (hour >= 6 && hour < 12) periodo = \"manhã\";\nelse if (hour >= 12 && hour < 18) periodo = \"tarde\";\nelse if (hour >= 18) periodo = \"noite\";\n\nreturn [{\n  key: \"irrigacao\",\n  value: {\n    dispositivo: data.dispositivo,\n    StatusBomba: data.bomba,\n    origemDoComando: \"human\",\n    timestamp: now,\n    periodo\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        112
      ],
      "id": "64c2332f-68ec-44bf-9b33-59adb2693667",
      "name": "Formata medição para gravação"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS smartirrig (\n  id SERIAL PRIMARY KEY,\n\n  status_bomba BOOLEAN,           -- true = ligada, false = desligada\n  origem_comando TEXT,            -- local, cloud, human\n  dispositivo TEXT,               -- quem enviou o comando: ESP32, cloud_n8n, etc.\n\n  timestamp_estado TIMESTAMPTZ,   -- timestamp real do evento\n  periodo TEXT,                   -- manhã, tarde, noite, madrugada\n\n  motivo TEXT,                    -- (opcional) futuro: override de chuva, comando humano etc.\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nINSERT INTO smartirrig (\n  status_bomba,\n  origem_comando,\n  dispositivo,\n  timestamp_estado,\n  periodo\n)\nVALUES (\n  {{ $json.value.StatusBomba }},\n  '{{$json.value.origemDoComando}}',\n  '{{$json.value.dispositivo}}',\n  '{{$json.value.timestamp}}',\n  '{{$json.value.periodo}}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1840,
        112
      ],
      "id": "49d7659c-d7a9-4c5f-a7cd-a8512e03b9de",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "X5FMiVM7mdcDAxNI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "irrigacao_estado_atual": {
      "ai_tool": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "irrigacao_historico": {
      "ai_tool": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "FIoT Agent - Smart Agro": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FIoT Agent - Smart Agro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "TURN_ON (index 0) e TURN_OFF (index 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ligar/Desligar bomba": {
      "main": [
        [
          {
            "node": "MQTT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Formata medição para gravação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TURN_ON (index 0) e TURN_OFF (index 1)": {
      "main": [
        [
          {
            "node": "Ligar/Desligar bomba",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ligar/Desligar bomba",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata medição para gravação": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4821db8-db54-4715-9ae2-634ba6b120bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f95231834db7705ff3204de524e5fb047e626c5b2802b5e1565382eaf984fbc"
  },
  "id": "sud9nnjNhmZxROt6",
  "tags": []
}